<?xml version="1.0" encoding="utf-8" ?>
<cv>
  <comment>
    This is the CadViewer menu configuration. Without 
    this file there is no menu. Edit with care!
  </comment>
  <menu>
    <layout>horizontal</layout>
    <menu>
      <text>File</text>
      <button>
        <text>Save</text>
        <info>Save the current world to a CadViewer-restart file</info>
        <id>save</id>
      </button>
      <menu>
        <text>Export</text>
        <button>
          <text>Image</text>
          <info>Export Image of the current frame.</info>
          <id>export_image</id>
        </button>
        <button>
          <text>Selected</text>
          <info>Export only the selected geometry</info>
          <id>export_selected</id>
        </button>
        <button>
          <text>World</text>
          <info>Export all models as a single Open Scene Graph file</info>
          <id>export_world</id>
        </button>
        <button>
          <text>Scene</text>
          <info>Export entire scene as an Open Scene Graph file</info>
          <id>export_scene</id>
        </button>
      </menu>
      <button>
        <text>Close</text>
        <info>Close the current world</info>
      </button>
      <separator>horizontal</separator>
      <button>
        <text>Exit</text>
        <info>Exit the program</info>
        <id>exit</id>
      </button>
    </menu>
    <menu>
      <text>Edit</text>
      <toggle>
        <text>Select</text>
        <info>Turn on ray-selection</info>
        <id>ray_selection</id>
      </toggle>
      <separator>horizontal</separator>
      <button>
        <text>Unselect Visible</text>
        <info>Unselect all visible geometry</info>
        <id>unselect_visible</id>
      </button>
      <button>
        <text>Hide Selected</text>
        <info>Hide all selected geometry</info>
        <id>hide_selected</id>
      </button>
      <button>
        <text>Show All</text>
        <info>Show all geometry</info>
        <id>show_all</id>
      </button>
      <separator>horizontal</separator>
      <menu>
        <text>Rotate</text>
        <button>
          <text>World X +90</text>
          <id>rotate_world</id>
        </button>
        <button>
          <text>World X -90</text>
          <id>rotate_world</id>
        </button>
        <separator/>
        <button>
          <text>World Y +90</text>
          <id>rotate_world</id>
        </button>
        <button>
          <text>World Y -90</text>
          <id>rotate_world</id>
        </button>
        <separator/>
        <button>
          <text>World Z +90</text>
          <id>rotate_world</id>
        </button>
        <button>
          <text>World Z -90</text>
          <id>rotate_world</id>
        </button>
      </menu>
      <menu>
        <text>Move</text>
        <radio>
          <text>Selected Wand Local</text>
          <info>Have selected geometry translate in its local coordinate system based on the joystick and the wand's orientation</info>
          <id>move_selected_local_wand</id>
        </radio>
        <radio>
          <text>World Wand</text>
          <info>Have world translate based on the joystick and the wand's orientation</info>
          <id>move_world_local_wand</id>
        </radio>
      </menu>
      <menu>
        <text>Scale</text>
        <radio>
          <text>Selected</text>
          <info>Moving the joystick in the vertical direction will scale the selected geometry</info>
          <id>vertical_scale_selected</id>
        </radio>
        <radio>
          <text>World</text>
          <info>Moving the joystick in the vertical direction will scale the entire world</info>
          <id>vertical_scale_world</id>
        </radio>
      </menu>
      <separator>horizontal</separator>
      <button>
        <text>Detach</text>
        <info>Removes selected geometry from the model's hierarchy</info>
      </button>
      <button>
        <text>Attach</text>
        <info>Attach selected geometry to a model</info>
      </button>
      <separator>horizontal</separator>
      <button>
        <text>Delete</text>
        <info>Delete selected geometry</info>
      </button>
    </menu>
    <menu>
      <text>View</text>
      <toggle>
        <text>Status Bar </text>
        <info>Hide/show this status bar</info>
        <id>status_bar_visibility</id>
      </toggle>
      <toggle>
        <text>Grid</text>
        <info>Hide/show the grid</info>
        <id>grid_visibility</id>
      </toggle>
      <separator>horizontal</separator>
      <button>
        <text>Resize Grid</text>
        <info>Make the grid fit the models</info>
        <id>resize_grid</id>
      </button>
      <button>
        <text>Reset Clipping</text>
        <info>Reset the near and far clipping planes</info>
        <id>reset_clipping</id>
      </button>
      <separator>horizontal</separator>
      <menu>
        <text>Goto</text>
        <button>
          <text>Front</text>
          <id>goto_front_view</id>
          <info>Jump to the front view</info>
        </button>
        <button>
          <text>Back</text>
          <id>goto_back_view</id>
          <info>Jump to the back view</info>
        </button>
        <button>
          <text>Top</text>
          <id>goto_top_view</id>
          <info>Jump to the top view</info>
        </button>
        <button>
          <text>Bottom</text>
          <id>goto_bottom_view</id>
          <info>Jump to the bottom view</info>
        </button>
        <button>
          <text>Right</text>
          <id>goto_right_view</id>
          <info>Jump to the right side view</info>
        </button>
        <button>
          <text>Left</text>
          <id>goto_left_view</id>
          <info>Jump to the left side view</info>
        </button>
      </menu>
      <menu>
        <text>Camera</text>
        <button>
          <text>Home</text>
          <info>Move to the home position</info>
          <id>camera_view_home</id>
        </button>
        <button>
          <text>World</text>
          <info>Move to where all the models are visible</info>
          <id>camera_view_world</id>
        </button>
        <button>
          <text>Scene</text>
          <info>Move to where all the models and the grid are visible</info>
          <id>camera_view_scene</id>
        </button>
	<separator>horizontal</separator>
        <button>
          <text>Set Home</text>
          <info>Set this camera position as the home view</info>
          <id>set_as_home_view</id>
        </button>
      </menu>
      <menu>
        <text>Polygons</text>
        <radio>
          <text>Smooth</text>
          <info>Draw polygons with smooth shading</info>
          <id>polygons_smooth</id>
        </radio>
        <radio>
          <text>Flat</text>
          <info>Draw polygons with flat shading</info>
          <id>polygons_flat</id>
        </radio>
        <radio>
          <text>Wireframe</text>
          <info>Draw polygons with wireframe</info>
          <id>polygons_wireframe</id>
        </radio>
        <radio>
          <text>Points</text>
          <info>Draw polygons with points at the vertices</info>
          <id>polygons_points</id>
        </radio>
      </menu>
    </menu>
    <menu>
      <text>Navigate</text>
      <menu>
        <text>Favorites</text>
        <radio>
          <text>Fly</text>
          <info>Move the joystick horizontally and vertically to obtain wand-oriented translation</info>
          <id>hv_trans_wand_xz</id>
        </radio>
        <radio>
          <text>Walk</text>
          <info>Move the joystick horizontally and vertically to obtain global-axis translation</info>
          <id>hv_trans_global_xz</id>
        </radio>
        <radio>
          <text>Pole</text>
          <info>Move the joystick horizontally for global rotation and vertically for global elevation</info>
          <id>hy_rotate_vy_trans_global</id>
        </radio>
      </menu>
      <menu>
        <text>Horizontal Joystick</text>
        <radio>
          <text>Translate Wand +X</text>
          <info>Moving the joystick horizontally will translate the observer along the wand's X-axis</info>
          <id>horizontal_translate_wand_positive_x</id>
        </radio>
        <radio>
          <text>Translate Wand -X</text>
          <info>Moving the joystick horizontally will translate the world along the wand's X-axis</info>
          <id>horizontal_translate_wand_negative_x</id>
        </radio>
        <separator>horizontal</separator>
        <radio>
          <text>Translate Global +X</text>
          <info>Moving the joystick horizontally will translate the observer along the global X-axis</info>
          <id>horizontal_translate_global_positive_x</id>
        </radio>
        <radio>
          <text>Translate Global -X</text>
          <info>Moving the joystick horizontally will translate the world along the global X-axis</info>
          <id>horizontal_translate_global_negative_x</id>
        </radio>
        <separator>horizontal</separator>
        <radio>
          <text>Rotate Wand Y</text>
          <info>Moving the joystick horizontally will rotate clockwise about the wand's Y-axis</info>
          <id>horizontal_rotate_wand_clockwise_y</id>
        </radio>
        <radio>
          <text>Rotate Global Y</text>
          <info>Moving the joystick horizontally will rotate clockwise about the global Y-axis</info>
          <id>horizontal_rotate_global_clockwise_y</id>
        </radio>
      </menu>
      <menu>
        <text>Vertical Joystick</text>
        <radio>
          <text>Translate Wand +Z</text>
          <info>Moving the joystick vertically will translate the observer along the wand's Z-axis</info>
          <id>vertical_translate_wand_positive_z</id>
        </radio>
        <radio>
          <text>Translate Wand -Z</text>
          <info>Moving the joystick vertically will translate the world along the wand's Z-axis</info>
          <id>vertical_translate_wand_negative_z</id>
        </radio>
        <separator>horizontal</separator>
        <radio>
          <text>Translate Global +Z</text>
          <info>Moving the joystick vertically will translate the observer along the global Z-axis</info>
          <id>vertical_translate_global_positive_z</id>
        </radio>
        <radio>
          <text>Translate Global -Z</text>
          <info>Moving the joystick vertically will translate the world along the global Z-axis</info>
          <id>vertical_translate_global_negative_z</id>
        </radio>
        <separator>horizontal</separator>
        <radio>
          <text>Translate Wand Y</text>
          <info>Moving the joystick vertically will translate the world along the wand's Y-axis</info>
          <id>vertical_translate_wand_positive_y</id>
        </radio>
        <radio>
          <text>Translate Global Y</text>
          <info>Moving the joystick vertically will translate the world along the global Y-axis</info>
          <id>vertical_translate_global_positive_y</id>
        </radio>
      </menu>
      <separator>horizontal</separator>
      <button>
        <text>Drop to Floor</text>
        <info>Move to the surface below you</info>
        <id>drop_to_floor</id>
      </button>
    </menu>
    <menu>
      <text>Options</text>
      <menu>
        <text>Background Color</text>
        <info>Change the background color</info>
        <button>
          <text>Red</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Yellow</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Green</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Teal</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Blue</text>
          <id>background_color</id>
        </button>
        <button>
          <text>White</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Grey</text>
          <id>background_color</id>
        </button>
        <button>
          <text>Black</text>
          <id>background_color</id>
        </button>
      </menu>
      <menu>
        <text>Grid Color</text>
        <info>Change the grid color</info>
        <button>
          <text>Red</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Yellow</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Green</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Teal</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Blue</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>White</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Grey</text>
          <id>grid_color</id>
        </button>
        <button>
          <text>Black</text>
          <id>grid_color</id>
        </button>
      </menu>
      <menu>
        <text>Selected Color</text>
        <info>Change the color of selected geometry</info>
        <button>
          <text>Red</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Yellow</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Green</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Teal</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Blue</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>White</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Grey</text>
          <id>selection_color</id>
        </button>
        <button>
          <text>Black</text>
          <id>selection_color</id>
        </button>
      </menu>
      <separator>horizontal</separator>
      <menu>
        <text>Export</text>
        <radio>
          <text>Binary</text>
          <info>Export geometry in binary format</info>
        </radio>
        <radio>
          <text>ASCII</text>
          <info>Export geometry in ASCII format</info>
        </radio>
      </menu>
      <menu>
        <text>Menu</text>
        <radio>
          <text>Front Wall</text>
          <info>Show the menu on the front wall</info>
        </radio>
        <radio>
          <text>Selected Wall</text>
          <info>Show the menu on the selected wall</info>
        </radio>
        <radio>
          <text>Wand Location</text>
          <info>Show menu offset from the wand</info>
        </radio>
        <separator>horizontal</separator>
        <toggle>
          <text>Hide Scene</text>
          <info>Hide the rest of the scene while showing the menu</info>
        </toggle>
      </menu>
      <separator>horizontal</separator>
      <menu>
        <text>Normalize</text>
        <toggle>
          <text>Scene</text>
          <info>Turn on/off normal-vector normalization for the entire scene.</info>
          <id>normalize_scene</id>
        </toggle>
        <toggle>
          <text>Selected</text>
          <info>Turn on/off normal-vector normalization for the selected geometry.</info>
          <id>normalize_selected</id>
        </toggle>
      </menu>
      <button>
        <text>Calibrate Joystick</text>
        <info>Adjust the joystick to eliminate drifting</info>
        <id>calibrate_joystick</id>
      </button>
    </menu>
    <menu>
      <text>Help</text>
      <button>
        <text>About CadViewer...</text>
        <info>Display program information</info>
      </button>
    </menu>
  </menu>
</cv>
